@tailwind base;
@tailwind components;
@tailwind utilities;

.input-wrapper{
  margin: 10px;
}
.input-field{
width: 200px;
height: 30px;
}
.button{
  width:200px;
  height: 30px;

}

/* jnnkj
.main-page-banner{
background-image: url("");
background-color:#ccc,


}*/
.input-wrapper{
  background-color: #fff;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: auto;
  width: 70%;
}
.select-input{
  height:40px;
  border:none;
  width: 30%;
  padding-left: 15px;
}
.search-input{
  height:40px;
  border:none;
  width: 30%;
  
  border-left: 1px solid #ccc;
  padding-left: 15px;
}
